body{
  background-image: url('images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
h1{
  font-family:'Times New Roman', Times, serif;
  color: white;
  text-align: center;
  font-size: 80px;
  text-decoration: underline solid white;
}
.container{
  margin: auto;
  margin-top: 70px;
  text-align: center;
  height: 450px;
}
#button_adjust{
  margin-top: 140px;
}
.button{
  height: 120px;
  color: white;
  width: 120px;
  margin-right: 30px;
  margin-left: 10px;
  font-size: 70px;
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-color: white;
}